.header {
  padding-top: 45px;
  max-width: 880px;
}

.header__underline {
  padding-top: 41px;
}

@media screen and (max-width: 880px) {
  .header {
    padding: 0;
  }
  .header__image {
    width: 126px;
    height: 24px;
    padding-bottom: 32px;
    padding-left: 27px;
    padding-top: 28px;
  }
}
