.page {
  background-color: black;
  color: white;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.page__content {
  margin-left: 200px;
  margin-right: 200px;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 1100px) {
  .page__section {
    margin: 0px 20px;
    max-width: calc(100% - 40px);
  }
}

@media screen and (min-width: 320px) {
  .page__content {
    margin-left: 19px;
    margin-right: 19px;
    overflow: wrap;
  }
}
